form div {
    display: inline-block;
    margin-right: 1em;
}
* {
	box-sizing: border-box;
}

body {
    margin: 2em;
}

/* paypal specific */

body {
	font-family: 'Helvetica Neue';
    font-weight: 300;
	font-size: 16px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
    letter-spacing: 0.4px;
}

input[type="text"] {
    font-size: 16px;
    font-weight: 300;
    padding: .3em;
    
}

/* dropdown editor convenience styling */

#preview {
    padding: 1em;
    border: 1px solid #000;
    width: 20em;
    margin-bottom: 1em;
}

#preview::before {
    content: 'This is a preview';
    display: inline-block;
    padding-bottom: 1em;
    font-weight: 600;
    font-size: 1em;
}

.inputs-editor {
    max-width: 20em;
}
.inputs-editor, .dropdown-input-editor, .textfield-input-editor {
    border: 1px solid #333;
    border-radius: 3px;
    padding: 1em;
}

.dropdown-input-editor, .textfield-input-editor {
    position: relative;
    margin-bottom: 1em;
}

.inputs-editor h4 {
    margin: 0;
}

.editor-widget {
    position: absolute;
    top: 0;
    right: 0;
}

.option-price div {
    display: inline-block;
    width: 4em;
    margin-top: 1em;
}

.option-price input {
    width: 100%;
}

.option-price select {
    font-size: 1em;
    padding: .3em .5em;
    height: 32px;
    -webkit-appearance: none;
}